_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.gcov
patches/
.git-ignore/
.pc/
coverity/
coverage/
coverage.info
*.o
*.reject
*.orig
*.rej
*.so
*~
*.swp*
.gitignore.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
./build
/build
.idea/
/Makefile
./Makefile
src/Makefile
src/*/Makefile
src/*/*/Makefile
src/*/*/*/Makefile
Doxyfile.API
RPM
*.src.rpm
*.i386.rpm
*.x86_64.rpm
tags
cmake_install.cmake
config.mk
config.guess
config.sub
obj-*/
*.cdbs-config_list
parts/
prime/
stage/
ftp.log
sftp.log
ftpscript.txt
sftpscript.txt
*.md5sum
extra/deploy_key
compile_commands.json
jepsen-tests-prefix
.terraform
terraform.tfstate
terraform.tfstate.backup
.DS_Store
*.log
*.snap
*.xlog
.cmake/
*.exe
*.dart_tool
_deps
build/
examples/
out.perf-folded
perf.data.old
perf.data
perf.svg
rust_echo_bench